*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
main{
    width:100%;
    min-height:67.3vh;
}
header{
    background-color:yellow;
}
.container-header{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
h1{
    font-size:2.5rem !important;
    font-style:italic !important;
    font-weight:100 !important;
    color:black !important;
    text-align:center;
}
.container-ima-h1{
    display:flex;
    width:70vw;
    justify-content:flex-start;
    align-items:center;
}
a{
    padding:0px;
    min-width:10vw;
}
.img-header{
    max-height:20vh;
}
nav{
    display:flex;
    justify-content:space-evenly;
    width:60vw;
}
.container-nav{
    background-color:black;
    display:flex;
    justify-content:center;
    width:100%;
}
.link-nav{
    color:white;
    text-decoration:none;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.link-nav:hover{
    background-color:white;
    color:black;
}
.container-main{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.img-ala-main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-top:1rem;
    align-items:center;
    width:20vw;
}
.ala-img{
    width:55vw;
    height:45vh;
    margin-bottom:0.5rem;
}
.container-h2-p{
    width:60vw;
}
.container-lorem{
    display:flex;
    justify-content:space-between;
    width:50;
}
.container-bienvenidos-p{
    width:30vw;
}
.container-testimonios-p{
    display:flex;
    justify-content:center;
    flex-direction:column;
    width:20vw;
    height:20vh;
    text-align:center;
    background-color: beige;
}
p{
    margin-bottom:1rem;
}
.container-nosotros{
    display:flex;
    align-items:center;
    flex-direction:column;
    padding:1rem;
}
.p-historia{
    width:80vw;
}
.staff{
    display:flex !important;
    width:80vw;
    justify-content:space-around !important;
    flex-wrap:wrap;
}
.container-servicios{
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.card-title{
    border-bottom:black solid 0.3px;
    width:100% !important;
}
.container-galeria{
    display:flex;
    justify-content:space-around;
    width:100%;
    flex-wrap:wrap;
}
.galeria{
    display:flex;
    justify-content:center;
    width:20vw;
}
.container-contacto{
    display:flex;
    padding:2rem;
    width:100%;
}
.div-form{
    display:flex;
    flex-direction:column;
    align-items:start;
    border-right:1px solid black;
    padding:2rem;
    width:50vw;
    height:100%;
}
.div-redes{
    display:flex;
    flex-direction:column;
    align-items:start;
    padding:2rem;
    width:50vw;
    height:100%;
}
.container-novedades{
    display:flex;
    align-items:center;
    flex-direction:column;
}
.novedad-1{
    width:80vw;
}
.novedad-2{
    width:80vw;
}
.novedad-3{
    width:80vw;
}
.fotos-g{
    margin:1rem;
    width:20vw;
    height:20vh;
}
.footer {
    height: 10.3vh;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-contacto{
    height: 9.5vh;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }